/* Bottom credits styles */

.bottomCredits {
  position: absolute;
  left: 65px;
  bottom: 50px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .bottomCredits {
    left: 30px;
    bottom: 20px;
  }
}

.bottomCredits h4 {
  display: inline-block;
  font-family: var(--font-oswald), 'Oswald', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  text-align: left;
  letter-spacing: 0.05em;
  color: #ff264a;
  margin: 0;
}


.bottomCreditsLead {
  display: inline-block;
  color: #fff;
}

.bottomCreditsLeadColor {
  color: #ff264a;
}

.bottomCredits a,
.bottomCredits a:hover,
.bottomCredits a:visited,
.bottomCredits a:active,
.bottomCredits a:focus {
  font-family: var(--font-oswald), 'Oswald', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  text-align: left;
  letter-spacing: 0.05em;
  color: #ff264a;
  text-decoration: none;
}
